@import "bootstrap/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */


.cadre {
    background: #FFE7D2; // TODO!
    height: @gridColumnWidth*6;
    margin-bottom: @gridGutterWidth;
    overflow: auto;
    padding: @gridGutterWidth;
        @shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.1);
    .box-shadow(@shadow);
    }








