@import "bootstrap/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */


/**** records list table ****/

table.records {
    width: 100%;

    td { padding: 8px; width:25%; }


}


/*
tr.activity-activity td         { background-color: lighten(@blue, 45%) }
tr.activity-activity.running td { background-color: lighten(@blue, 30%) }

tr.activity-todo td             { background-color: lighten(@orange, 45%) }
tr.activity-todo.running td     { background-color: lighten(@orange, 30%) }

tr.activity-value td            { background-color: lighten(@green, 45%) }

*/


tr.activity-activity.running td { background-color: lighten(@blue, 30%) }
tr.activity-todo.running td     { background-color: lighten(@orange, 30%) }


/**** tags ****/

ul.tags li {
    display: inline-block;
    list-style:none;
    padding-left: 5px;
    }




/**** svg ****/

svg {
    display: block;
    margin: auto;
    }

svg .slice text {
            font-size: 14pt;
            font-family: arial;
            stroke:none;
            opacity:0;
            dominant-baseline: central;
        }

